<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/login.css}">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/video/Screenshot_2024-11-06_153332-removebg-preview.png" />
</head>
<body>
    <form action="/login" method="POST">
        <h2>Login</h2>

        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <div class="button-container">
            <button type="submit">Login</button>
            <button type="submit" formaction="/adminLogin" class="admin-button">Admin Login</button>
        </div>

        <p>Don't have an account? <a href="/register">Register here</a></p>
    </form>
</body>

</html>
