body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: auto; 
    font-family: Arial, sans-serif;
}

.navbar {
    position: relative;
    background-color: #000;
    color: white;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; 
}


.content {
    height: 50vh; 
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; /* Sits on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0); 
}

.modal-content {
    background-color: rgba(0, 0, 0, 10);
    margin-top: 7%; 
    margin-left: 70%;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    max-width: 400px; 
    text-align: center;
    border-radius: 8px;
    color:white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-button {
    background-color: #ff8040; 
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%; 
}

.logout-button {
    background-color: #ff0000;
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%; 
}

button:hover {
    opacity: 0.8;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: left; 
}

.logo {
    max-height: 60px; 
}


.navbar ul {
    list-style-type: none;
    margin-left: 10;
    padding: 0;
    display: flex;
}

.navbar ul li {
    
    margin-right: 60px;
}

.navbar ul li a {
    color: rgb(192, 192, 192);
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: white;
}

.about-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.video-box {
    flex: 1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
    height: 300px;
    background-color: #e9f7ef;
}

.video-box video {
    max-width: 100%;
    height: auto;
   
}

.text-box {
    flex: 1;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.text-box p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

footer {
    background-color: black;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.footer-content p {
    margin: 0;
}

.footer-links {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: #f1f1f1;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

